:root {
    --background-color: #fff;
    --text: #000;
    --LeftCalumnColor: #fff;
    --LeftCalumnColorHover: #f5f5f5;
    --grayColor: #0f0f0f

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    color: var(--text);
}
.dark-mode{
    background-image: url('../img/romashka-belaia-romashki-tsvetok.jpg');
}
.container {
    margin: 0 auto;
}
.fucus-item{
    background-color: rgb(131,120,219);
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
/* *****************************************LeftColumn***************************************** */
.LeftColumn{
    width: 25%;
    background-color: var(--LeftCalumnColor);
}
.LeftMainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px 20px;
}
.mini-menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    width: 2.75rem;
    height: 2.75rem;
    padding: 10px;
}
.mini-menu-btn:hover{
    background-color: var(--LeftCalumnColorHover);
    border-radius: 50%;
}
.SearchInput{
    width: 80%;
    position: relative;
}
.search-input{
    width: 100%;
    padding: 15px 40px;
    background-color: var(--LeftCalumnColorHover);
    border-radius: 50px;
    border: none;
    border: 2px solid var(--LeftCalumnColorHover);
    color: var(--text);
    font-size: 16px;
}
.search-input::placeholder{
    font-size: 16px;
    color: var(--text);
}
.search-input:focus{
    outline: none;
    border: 2px solid rgb(131,120,219);
}
.icon-search svg{
    position: absolute;
    top: 0%;
    left: 5%;
    width: 25px;
}
.search-input:focus svg{
    fill: rgb(131,120,219);
}
.search-icon-focus{
    display: none;
}
.chat-items{
    height: 90vh;
}

.scroll-container{
    width: 100%;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar
{
	width: 6px;
	background-color: none;
}

.scroll-container::-webkit-scrollbar-thumb
{
    width: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(55,55,55);
}
.chat-items{
    position: relative;
    z-index: 0;
    /* padding-top: 20px; */
    /* overflow: hidden; */
}
.chat-item{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 11vh; */
    padding: 5px 15px;
    margin: 5px 0;
    user-select: none;
}
.chat-item:hover{
    background-color: var(--LeftCalumnColorHover);
    border-radius: 20px;
}
.chat-item:focus{
    background-color: rgb(131,120,219);
}
.user-img{
    width: 25%;
}
.user-img img{
    width: 55px;
    border-radius: 50%;
}
.user-name{
    width: 75%;
    margin-left: 10px;
}
.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name h3{
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}
.LastMessageMeta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MessageOutgoingStatus img{
    width: 12px;
    margin-right: 5px;
}
.LastMessageMeta .time{
    font-size: .75rem;
    color: var(--grayColor);
    line-height: 1.15rem;
}
.last-message{
    font-size: 1rem;
    line-height: 1.6875rem;
    width: 80%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: var(--grayColor);
}

.icon-type-chat svg{
    width: 15px;
}
.subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-count{
    background-color: rgb(131,120,219);
    text-align: center;
    border-radius: 50%;
    padding: 4px 8px;
    font-weight: 600;
}
.telegram-home{
    display: flex;
    justify-content: space-around;
}
.MiddleColumn{
    width: 75%;
}
.Chat-section{
    display: block;
}
.user-info1{
    overflow: hidden;
}
.MiddleHeader{
    background-color: var(--LeftCalumnColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3px;
}
.MiddleHeader-user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
    padding: 5px 30px;
    height: 10vh;   
    width: 400px;
}
.MiddleHeader-user-info .user-img img{
    width: 50px;
}
.MiddleHeader-user-info .user-name .user-info1{
    
}
.HeaderActions{
    padding-right: 30px;
}
.HeaderActions button{
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px 10px;
}
.HeaderActions button:hover{
    background-color: var(--LeftCalumnColorHover);
    border-radius: 50%;
}
.HeaderActions button img{
    width: 25px;
}
.status-item{
    color: var(--grayColor);
}
.container-message {
    overflow: hidden;
    width: 70%;
    padding: 10px;
    margin: 0 auto;
}

.message-blue {
    position: relative;
    margin-left: 20px;  
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
    /* padding-bottom: 20px; */
    background-color: var(--LeftCalumnColorHover);
    max-width: 60%;
    max-height: 10%;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid var(--LeftCalumnColorHover);
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(70% - 240px);
    padding: 15px;
    /* padding-bottom: 20px; */
    background-color: rgb(131,120,219);
    max-width: 60%;
    max-height: 10%;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid rgb(131,120,219);
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 10px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .75em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
    height: 2vh;    
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid var(--LeftCalumnColorHover);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -10px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid var(--LeftCalumnColorHover);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -10px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid rgb(131,120,219);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -10px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid rgb(131,120,219);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -10px;
}
.message-content{
    font-size: 16px;
    font-weight: 500;
}
.message-footer{
    position: relative;
}
.message-input-wrapper{

}
.chat{
    height: 78vh;
}
.message-input-wrapper .message{
    width: 78%;
    padding: 20px 60px;
    background-color: var(--LeftCalumnColorHover);
    border: none;
    border-radius: 20px;
    color: var(--text);
    font-size: 16px;
}

.message-input-wrapper .message:focus{
    outline: none;
}
.scroll-message-container{
    width: 100%;
    height: 78vh;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll-message-container::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--background-color);
}

.scroll-message-container::-webkit-scrollbar-thumb
{
    width: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #353535;
}
.send-message-form{
    display: flex;
    justify-content: left;
    align-items: center;
}
.send-message-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
    /* transform: rotate(45deg); */
}
.send-btn{
    position: relative;
    background-color: var(--LeftCalumnColorHover);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    width: 60px;
    height: 60px;
}
.message{
    position: relative;
    z-index: 0;
}
.smile-icon{
    cursor: pointer;
    padding: 5px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
    z-index: 2;
}
.link-file{
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-3%, -50%);
    z-index: 2;
    padding: 10px;
}
.link-file:hover{
    background-color: #353535;
    border-radius: 50%;
}

.smile-icon:hover{
    background-color: #353535;
    border-radius: 50%;
}

.Chat-section{
    /* display: none; */
}
/* menu settings */
.active{
    display: block;
}
.Menu{
    display: none;
    position: absolute;
    top: 11%;
    left: 1%;
    z-index: 2;
    background-color: var(--LeftCalumnColor);
    width: 20%;
    height: 53%;
    padding: 25px 0;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}
.menu-item{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    background-color: var(--LeftCalumnColor);
    border: none;
}
.menu-item:hover{
    background-color: var(--LeftCalumnColorHover);
}
.menu-item h3{
    font-family:sans-serif;
    position: absolute;
    font-size: 18px;
    left: 25%;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--text);
}
.menu-item i{
    font-size: 20px;
    color: var(--text);
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(131,120,219);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(131,120,219);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .menu-item-text{
      display: flex;
      justify-content: left;
      align-items: center;
  }
  .mini-menu-item{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .cancel-chat-btn{
      margin-right: 10px;
      cursor: pointer;
  }
  .cancel-chat-btn img{
    width: 40px;
  }
  @media(max-width: 740px){
    .LeftColumn{
        width: 100%;
    }
    .Menu{
        width: 90%;
    }
    .container-message {
        width: 100%;
        
    }
    .MiddleHeader-user-info{
        width: 500px;
    }
    .MiddleColumn{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        background-color: #0f0f0f;
        /* display: none; */
    }
    .MiddleColumnDark{
        background-image: url("../img/romashka-belaia-romashki-tsvetok.jpg");

    }
    .message-blue, .message-orange{
       max-width: 80%;
       margin: 10px auto;
    }
    .user-name h3{
        width: 90%;
    }
  }
